@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Poiret One');
@import url('https://fonts.googleapis.com/css?family=Fredoka One');

* {
    margin: 0px;
    padding: 0px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.7s;
    background: #2F2235;
    background: linear-gradient(180deg, #2F2235 40%, #3F3244 70%);
}
.logo {
    font-family: 'Poiret One';
    position: relative;
    font-weight: 700;
    color: #BFC3BA;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.7s;
    padding: 25px;
}
.logo-fragment {
    font-family: 'Fredoka One';
    background-color: #2F2235;
    border: 4px solid #2F2235;
    border-radius: 5px;
    box-shadow: -3px -3px 2px #BFC3BA30,    
                5px 5px 5px rgba(0,0,0,0.2),
                15px 15px 15px rgba(0,0,0,0.2);
}
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    font-family: 'Quicksand';
    position: relative;
    list-style: none;
}
.menu li a {
    position: relative;
    margin: 0 15px;
    color: #BFC3BA;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: .7s;
}
.menu li a:hover {
    color: #FC0FC0;
    transition: .9s;
}
.menu li a:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    -webkit-transform: translateX(-50%) scaleX(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: #FC0FC0;
    -webkit-transition: transform 250ms;
    transition: transform 250ms;
}
.menu li a:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
    transform: translateX(-50%) scaleX(1);
}